html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}


body {
    margin: 0;
    padding: 0;
    max-width: 1600px;

}


.container {
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 100%;
}

a {
    text-decoration: none;
}

nav {
    background-color: lightblue;
}

nav ul {
    display: flex;
    margin: 0;
}

nav ul li {
    list-style: none;
    padding: 1rem;
    margin: 0;
}

li:first-child {
    margin-right: auto
}

header h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

article {
    display: inline-block;
    margin: 0 auto;
}

.text {
    word-wrap: break-word;
    padding: 3rem 2rem 5.6rem 2rem;
    margin: 0 5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
}

label {
    align-self: flex-start;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

input {
    display: block;
    margin: 0.5rem;
    margin-right: 0;
    padding: 0;
    max-width: 80%;
    overflow: hidden;
    
}

form div {
    display: flex;
    justify-items: center;
    align-items: center;
}

div input {

    display: block;
    justify-self: flex-start;
    flex: 1;
}

form a {
    display: block;
    justify-self: flex-end;
    flex: 2;

}

footer {
    background-color: lightblue;
    bottom: 0;
    left: 0;
}
